<div class="main-landing-page">
<section class="welcome-car-section">
<h1 class="welcome-car-title">Welcome to CSE Motors!</h1>
<div class="deloran-welcome-description">
    <h2 class="delorean-title-box">DMC Delorean</h2>
    <ul class="delorean-box-description">
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dicel</li>
    </ul>
    <input class="own-delorean-btn" type="button" value="Own Today"/>
</div>
<img class="welcome-picture" src="/images/vehicles/delorean.jpg"/>
</section>

<section class="delorean-reviews">
    <h2>DMC Delorean Reviews</h2>
<ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it" (5/5)</li>
</ul>
</section>

<section class="delorean-upgrades">
    <h2>Delorean Upgrades</h2>
<ul class="upgrades-car-list">
    <li>
        <div class="upgrades-picture-container">
            <img alt="car-upgrade-flux" class="image-upgrades" src="/images/upgrades/flux-cap.png" />
        </div>
        <a class="car-upgrades-link" href="localhost:5500/">Flux Capacitor</a>
    </li>
    <li>
        <div class="upgrades-picture-container">
        <img alt="car-upgrade-flame" class="image-upgrades" src="/images/upgrades/flame.jpg" />
        </div>
        <a class="car-upgrades-link" href="localhost:5500/">Flame Decals</a>
    </li>
    <li>
        <div class="upgrades-picture-container">
        <img alt="car-upgrade-bumper" class="image-upgrades" src="/images/upgrades/bumper_sticker.jpg" />
        </div>
        <a class="car-upgrades-link" href="localhost:5500/">Bumper Stickers</a>
    </li>
    <li>
        <div class="upgrades-picture-container">
        <img alt="car-upgrade-hum" class="image-upgrades" src="/images/upgrades/hub-cap.jpg" />
        </div>
        <a class="car-upgrades-link" href="localhost:5500/">Hum Caps</a>
    </li>
</ul>
</section>
</div>