<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>

<form id="successform" action="/inv/successclassification" method="POST">
    <input type="text" placeholder="Classification Name" required name="classification_name">
    <input type="submit" value="Add Classification">
</form>
