<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>

<form id="successformclassif" action="/inv/successclassification" method="POST">
    <input id="classification_name" type="text" placeholder="Classification Name" required name="classification_name">
    <input id="add_classification" type="submit" name="add_classification" value="Add Classification">
</form>
